<!DOCTYPE html>
<html>
 <body style="background-color: #Ffcccb;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<div class="hero">
</div>
<h1 sytle="font-family: Arial">
  <center>
    Jerma's Shoes
  </center>
</h1>
  <h3>
    <center>
      An archive for bookmarklets, links, proxies, games and more!
    </center>
  </h3>
<center>


                        
  <button onclick="location.href = 'in.html';" id="myButton" class="float-left submit-button" >Proxies</button>
  
<button onclick="location.href = 'anotherfile.html';" id="myButton" class="float-left submit-button" >Games</button>
  
<button onclick="location.href = 'index.htm';" id="myButton" class="float-left submit-button" >ET Exploits</button>
  
  <button onclick="location.href = 'index.htm';" id="myButton" class="float-left submit-button" >Other</button>

    <button onclick="location.href = 'partners.html';" id="myButton" class="float-left submit-button" >Partners</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "in.html";
    };
</script>
  
  <form href="#" target="_blank" rel="noopener noreferrer" action="https://discord.gg/KvCTar3Dad">
         <button type="submit">Join the discord!</button>
      </form>
</center>

 
    <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 

 <div id="respond">

   <center>
<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
 </center>

   <!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   
 </body>


  