html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

button {
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: #f7c2f9;
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }



button { 
    color:#ffffff; 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#A9a9a9; 
    border:20px solid; 
    border-color: #A020F0 #A865C9 #A865C9 #A020F0; 
}


  body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}